body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,64,1) 2%, rgba(0,212,255,1) 70%);
background-attachment:fixed;
margin:0;
font-family: 'poppins',sans-serif;

}
#form
{
    width:400px;
    margin:30vh auto 0 auto;
    background-color: azure;
   padding:30px;

}
h1{
    text-align: center;
    color:brown;
}
#form button
{
   background-color:violet;
   color:white;
   border:1px solid violet;
   padding:10px; 
   cursor:pointer;
   width:100%
}
.input-group{
    display:flex;
    flex-direction:column;


}

.input-group input{

border-radius:5px;
font-size:20px;
margin-top:5px;
padding:10px;
border:1px solid blue(34,193,195);

}
.input-group:focus{
    outline:0;


}
.error{
    color:red(242,18,18);
    font-size:16px;
    margin-top:5px;
}
.input-group.success input{
    border-color:green;
}
.input-group.error input{
    border-color:red(206,67,67);



}